:root {
  --margin-bottom: 16px;

  --primary-color: #409eff;

  --error-color: #f56c6c;

  --success-color: #67c23a;

  --warn-color: #e6a23c;

  --info-color: #909399;

  --border-color: #dcdfe6;

  --bg-color: #f7f8fa;
  --card-bg-color: #ffffff;
  --disabled-bg-color: #f6f6f6;

  --border-color: #e5e5e5;
  --hover-bg-color: rgba(215, 229, 249, 0.5);
  /* 蒙层 */
  --overlay-bg-color: #333333;

  /* 字体 */
  --primary-text-color: #303133;
  --regular-text-color: #606266;
  --assit-text-color: #9199bd;
  --tip-text-color: #cccccc;

  /* 特殊颜色 */
  --brand-color: #936243;

  /* 字号，行高 */
  --main-font-size: 14px;
  --font12: 12px;
  --font16: 16px;
  --font20: 20px;
  --font24: 24px;
  --font36: 36px;
  --font48: 20px;
  --font56: 20px;
  --line-heigth20: 20px;
  --line-heigth22: 22px;
  --line-heigth24: 24px;
  --line-heigth28: 28px;
  --line-heigth32: 32px;
  --line-heigth44: 44px;
  --line-heigth56: 56px;
  --line-heigth64: 64px;
}
